.gpt3__possibility {
  display: flex;
  flex-direction: row;
}

.gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.gpt3__possibility-image img {
  width: 100%;
  height: 100%;
}

.gpt3__possibility-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.gpt3__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}

.gpt3__possibility-content h4:last-child {
  color: #ff8a71;
}

.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.gpt3__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 2rem;
}

.gpt3__possibility .possibility_contactus_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 8%; */
  margin: 20px 0;
}

.gpt3__possibility .possibility_contactus_form_input_group {
  display: flex;
  /* flex-wrap: wrap; */
  /* background-color: #71E5FF; */
  gap: 5%;
  padding: 10px;
}
.gpt3__possibility .possibility_contactus_form_input_group input {
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  /* border: 2px solid #FF4820; */
  width: 100%;
}
.gpt3__possibility .possibility_contactus_form_input_group input:focus {
  border-bottom: 2px solid #ff4820;
}

.gpt3__possibility .possibility_contactus_form_input_group textarea {
  height: 50px;
  min-height: 50px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  outline: none;
  color: #fff;
  width: 100%;

  padding: 11px 1rem 0;
  resize: none;
  overflow: hidden;
}

.gpt3__possibility .possibility_contactus_form_input_group textarea:focus {
  border-bottom: 2px solid #ff4820;
}
.gpt3__possibility .possibility_contactus_form button {
  width: 50%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #ff4820;
  border: 2px solid #ff4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 7px;
  margin: 20px auto;
}

@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  .gpt3__possibility-image img {
    width: unset;
    height: unset;
  }

  .gpt3__possibility-content {
    margin-top: 2rem;
  }

  .gpt3__possibility .possibility_contactus_form_input_group input,
  .gpt3__possibility .possibility_contactus_form_input_group textarea,
  .gpt3__possibility .possibility_contactus_form_input_group button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__possibility-image img {
    width: 100%;
    height: 100%;
  }
  .gpt3__possibility .possibility_contactus_form_input_group {
    flex-wrap: wrap;
  }
  .gpt3__possibility .possibility_contactus_form {
    margin: 10px;
  }
  .gpt3__possibility .possibility_contactus_form_input_group {
    gap: 0%;
    padding: 0;
  }
  .gpt3__possibility .possibility_contactus_form_input_group input ,
  .gpt3__possibility .possibility_contactus_form_input_group textarea {
    margin-top: 10px;  
  }
}
